
.Titulo{
    margin-top: 20px;
    text-align: center;
    color: white;
}

.pruebas{
 margin-top: 10px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 border-radius: 40px;
 margin-bottom: 30px;
}

.contImg{
    border-right: 4px solid black;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(62,62,189,1) 61%, rgba(2,0,36,1) 100%);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.contImg img{
    border-radius: 50%;
}

.Somos{
    text-align: center;
}
